{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ import "../../_libs/common" }}

<turbo-frame id="bookmark-content-{{ .Item.ID }}"
 {{- if .Item.Type == "article" -}}
 src="{{ urlFor(`/api/bookmarks`, .Item.ID) }}/article"
 disabled
 data-controller="annotations"
 data-action="request:annotation-removed@document->annotations#reload"
 data-annotations-api-url-value="{{ urlFor(`/api/bookmarks`, .Item.ID) }}/annotations"
 data-annotations-hidden-class="hidden"
 {{- end -}}
>

{{- if .Item.Type == "article" -}}

  <div class="max-w-3xl mx-auto print:max-w-none relative">
    <div class="hidden absolute z-50"
     data-annotations-target="controlls">
        <button data-annotations-target="controllCreate" data-action="click->annotations#save"
        class="p-4 bg-gray-700 text-white hf:text-primary-light rounded-lg shadow-lg"
        title="highlight selection">{{ yield icon(name="o-highlight") }} Highlight</button>
        <button data-annotations-target="controllDelete" data-action="click->annotations#delete"
        class="p-4 bg-red-800 text-red-100 hf:text-white rounded-lg shadow-lg"
        title="remove highlight(s)">{{ yield icon(name="o-trash") }} Remove Highlight(s)</button>
    </div>

    <div class="prose font-serif leading-normal text-lg"
     lang="{{ .Item.Lang }}"
     data-controller="reader"
     data-annotations-target="root">
      {{- unsafeWrite(.HTML) -}}
    </div>
  </div>
{{- else if .Item.Type == "photo" -}}
  <figure>
    <img alt="" src="{{ .Item.Resources.image.Src }}"
    class="mx-auto"
    width="{{ .Item.Resources.image.Width }}" height="{{ .Item.Resources.image.Height }}">
  </figure>
{{- else if .Item.Type == "video" -}}
  <div class="video-wrapper">
    <div class="video-player" data-controller="video">
      <img alt="" src="{{ .Item.Resources.image.Src }}"
       width="{{ .Item.Resources.image.Width }}" height="{{ .Item.Resources.image.Height }}">
      <template data-video-target="embed">
        {{- raw(.Item.Embed) -}}
      </template>
      <template data-video-target="play">
        <div class="play-button" data-action="click->video#play"></div>
      </template>
    </div>
  </div>
{{- end -}}
</turbo-frame>
