{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
<details class="text-sm leading-none print:hidden">
  <summary class="link"><small>Debug info</small></summary>
  <div class="mt-4">
    <strong>Extraction log</strong>
    <pre class="mb-4 max-h-80 overflow-scroll p-2 border">{{ .log }}</pre>

    <strong>Properties</strong>
    <pre class="max-h-80 overflow-scroll p-2 border">{{ .props }}</pre>
  </div>
</details>
