{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "./base" }}
{{ import "/_libs/forms" }}

{{ block title() }}New User{{ end }}

{{ block mainContent() }}
<h1 class="title text-h2">{{ yield title() }}</h1>

<form action="{{ urlFor() }}" method="post">
  {{ yield formErrors(form=.Form) }}
  {{ yield csrfField() }}

  {{ yield textField(field=.Form.Get("username"),
                     label="Username",
                     class="field-h") }}

  {{ yield textField(field=.Form.Get("email"),
                     type="email",
                     label="Email address",
                     class="field-h") }}

  {{ yield selectField(field=.Form.Get("group"),
                       label="Group",
                       class="field-h") }}

  {{ yield passwordField(field=.Form.Get("password"),
                         label="Password",
                         class="field-h") }}

  <p><button class="btn-primary" type="submit">Save</button></p>
</form>

{{ end }}
