{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/_layouts/sidemenu" }}

{{- block sideMenu() -}}
<h2 class="h-topnav border-b border-gray-200 uppercase flex items-center justify-center">User Settings</h2>
<menu class="mt-4">
  <li><a href="{{ urlFor(`/profile`) }}"
  data-current="{{ pathIs(`/profile`) }}">{{ yield icon(name="o-user") }} Profile</a></li>
  <li><a href="{{ urlFor(`/profile/password`) }}"
  data-current="{{ pathIs(`/profile/password`) }}">{{ yield icon(name="o-lock") }} Password</a></li>
  {{ if hasPermission("profile:credentials", "read") -}}
  <li><a href="{{ urlFor(`/profile/credentials`) }}"
  data-current="{{ pathIs(`/profile/credentials`, `/profile/credentials/*`) }}">{{ yield icon(name="o-key") }} Application Passwords</a></li>
  {{- end }}
  {{ if hasPermission("profile:tokens", "read") -}}
    <li><a href="{{ urlFor(`/profile/tokens`) }}"
    data-current="{{ pathIs(`/profile/tokens`, `/profile/tokens/*`) }}">{{ yield icon(name="o-terminal") }} API Tokens</a></li>
  {{- end }}
</menu>
{{- end -}}
