{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- block icon(name, class="svgicon", svgClass="w-4 h-4", viewBox="0 0 100 100", attrs=attrList()) -}}
<span class="{{ class }}" {{ attrs }}><svg xmlns="http://www.w3.org/2000/svg"
viewbox="{{ viewBox }}" class="inline-block {{ svgClass }}"><use
href="{{ assetURL(`img/icons.svg`) }}#{{ name }}"></use></svg></span>
{{- end -}}

{{- block csrfField() -}}
<span class="hidden"><input type="hidden" name="{{ csrfName }}" value="{{ csrfToken }}"></span>
{{- end -}}

{{- block message(type="info", removable=false, delay=0) -}}
{{- icon := "o-info" -}}
{{- color := "text-blue-800" -}}
{{- bg := "bg-blue-50" -}}
{{- border := "border-blue-800" -}}
{{- if type == "success" -}}
  {{- icon = "o-check-on" -}}
  {{- color = "text-green-800" -}}
  {{- bg = "bg-green-50" -}}
  {{- border = "border-green-800" -}}
{{- else if type == "error" -}}
  {{- icon = "o-error" -}}
  {{- color = "text-red-800" -}}
  {{- bg = "bg-red-50" -}}
  {{- border = "border-red-900" -}}
{{- end -}}
<div class="
  flex gap-2 p-4 overflow-hidden
  {{ bg }} rounded-lg my-6 w-full border {{ border }}
  transition-all duration-300 ease-in-out"
 {{- if removable || delay > 0 -}} data-controller="remover" {{- end -}} data-remover-delay-value="{{ delay }}"
>
  <div>
    {{- yield icon(name=icon, class="svgicon " + color) -}}
  </div>
  <div class="flex-grow">
    {{- yield content -}}
  </div>
  {{- if removable -}}
    <div class="-mt-2 -mr-2">
      <button data-action="remover#remove">
        {{ yield icon(name="o-cross", class="", svgClass="h-5 w-5") }}
      </button>
    </div>
  {{- end -}}
</div>
{{- end -}}

{{- block flashes() -}}
{{- if len(flashes) > 0 -}}
  <div class="js:absolute js:top-2 js:z-50 w-full max-w-xl">
  {{- range flashes -}}
      {{- if !hasPrefix(.Type, "_") -}}
        <div class="drop-shadow-sm mb-1">
          {{- yield message(type=.Type, delay=3) content -}}
            <strong>{{ .Message }}</strong>
          {{- end -}}
        </div>
      {{- end -}}
  {{- end -}}
  </div>
{{- end -}}
{{- end -}}

{{- block spinner() -}}
{{ yield icon(name="o-spinner", svgClass="animate-spin stroke-current")}}
{{- end -}}

{{- block mainMenuItem(name, path, icon, current=false) -}}
<li><a href="{{ urlFor(path) }}" data-current="{{ current }}">{{ yield icon(name=icon) }}
<span class="sr-only">{{ name }}</span></a></li>
{{- end -}}

{{- block sideMenuItem(name, path, icon, current=false) -}}
<li><a href="{{ urlFor(path) }}" data-current="{{ current }}">{{ yield icon(name=icon) }}
{{ name }}</a></li>
{{- end -}}
