{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- block list(class="") -}}
<div class="border divide-y shadow rounded {{ class }}">
{{ yield content }}
</div>
{{- end -}}

{{- block list_item(class="") -}}
<div class="p-4 {{ class }}">
{{ yield content }}
</div>
{{- end -}}
