{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/base" }}

{{- block main() -}}{{- end -}}

{{- block body() -}}
<h1 class="max-w-sm mt-12 mx-auto px-8">
  <img src="{{ assetURL(`img/logo-text.svg`) }}" alt="Readeck"
   width="240" height="43"
   class="w-full" />
</h1>
<main class="w-full max-w-sm p-8 mt-6 mx-auto bg-white rounded-md shadow-md">
  {{ yield main() }}
</main>
{{- end -}}
