{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/base" }}

{{- block title() -}}Test{{- end -}}

{{- block head() -}}
  <link rel="stylesheet" href="{{ urlFor(`/assets/elements.css`) }}">
  <script type="module" src="{{ urlFor(`/assets/elements.min.js`) }}"></script>
{{- end -}}

{{- block body() -}}
<div class="flex h-screen max-sm:flex-col">
  {{ include "/menu" }}
  <div class="grow md:overflow-y-auto">
    <elements-api id="api-doc" router="hash" layout="sidebar"
     tryItCredentialsPolicy="omit"
     apiDescriptionUrl="{{ .Schema }}"
    ></elements-api>
  </div>
</div>
{{ end }}
