{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{ extends "/base" }}

{{ block body() -}}
  <div class="flex h-screen max-sm:flex-col">
    {{ include "/menu" }}

    <div class="grow overflow-y-auto print:overflow-y-visible">
      <div class="flex">
        <input type="checkbox" id="--sl-toggle" class="peer hidden">
        <label for="--sl-toggle"
         class="hidden max-sm:inline-flex fixed z-30 w-12 h-12 bottom-2 left-2
         items-center justify-center py-2
         select-none bg-gray-800 text-white rounded-2xl ring-1 ring-offset-1 ring-white cursor-pointer"
        >{{- yield icon(name="o-menu", class="inline-block", svgClass="w-6 h-6") -}}
        </label>
        <nav class="sidemenu flex-shrink-0 w-col-5 sticky top-0 z-20 h-screen overflow-y-auto
         shadow-sidebar-l bg-gradient-to-r from-gray-50 to-gray-100 px-4
         max-sm:w-full max-sm:fixed max-sm:bottom-0 max-sm:left-0 max-sm:top-auto
         max-sm:hidden max-sm:peer-checked:block">
          {{ try }}{{- yield sideMenu() -}}{{ end }}
        </nav>

        <div tabindex="-1" autofocus class="ring-0 bg-transparent grow px-6 py-8 max-w-col-23">
          {{ yield flashes() }}
          {{ yield mainContent() }}
        </div>
      </div>
    </div>
  </div>
{{- end}}
