{*
SPDX-FileCopyrightText: © 2021 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- import "./_libs/blocks" -}}
{{- import "./_libs/common" -}}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ yield title() }} - Readeck</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="x-csrf-token" content="{{ csrfToken }}" />
  <meta name="csp-nonce" content="{{ cspNonce }}" />

  <link rel="stylesheet" href="{{ assetURL(`bundle.css`) }}" nonce="{{ cspNonce }}">
  <script type="module" src="{{ assetURL(`bundle.js`) }}" nonce="{{ cspNonce }}"></script>

  <link rel="apple-touch-icon" sizes="120x120" href="{{ assetURL(`img/fi/apple-touch-icon-120x120.png`) }}">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ assetURL(`img/fi/apple-touch-icon-152x152.png`) }}">
  <link rel="apple-touch-icon" sizes="167x167" href="{{ assetURL(`img/fi/apple-touch-icon-167x167.png`) }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetURL(`img/fi/apple-touch-icon-180x180.png`) }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ assetURL(`img/fi/apple-touch-icon.png`) }}">
  <link rel="icon" href="{{ assetURL(`img/fi/favicon.ico`) }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ assetURL(`img/fi/favicon-16x16.png`) }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ assetURL(`img/fi/favicon-32x32.png`) }}">
  <link rel="icon" type="image/png" sizes="48x48" href="{{ assetURL(`img/fi/favicon-48x48.png`) }}">

  {{ yield head() }}
</head>

<body data-turbo="false"
 class="
  no-js bg-gray-50 text-gray-900 font-sans leading-tight tracking-normal
  print:text-black print:bg-white
 ">
{{- if !isTurbo }}
<script nonce="{{ cspNonce }}">
if ('noModule' in HTMLScriptElement.prototype) {
  document.body.classList.remove("no-js")
  document.body.classList.add("js")
}
</script>
{{ end -}}
{{ yield body() }}
</body>
</html>
