{*
SPDX-FileCopyrightText: © 2023 Olivier Meunier <olivier@neokraft.net>

SPDX-License-Identifier: AGPL-3.0-only
*}
{{- import "./_libs/common" -}}

<div class="layout-topnav z-10">
  <div class="logo">
    <a href="{{ urlFor(`/`) }}" title="Home page">{{ yield icon(name="o-logo-square", class="", svgClass="h-11 w-11") }}</a>
  </div>
  <div class="mainmenu">
    <menu class="grow">
      {{- if  hasPermission("bookmarks", "read") -}}
      {{ yield mainMenuItem(name="Bookmarks", path="/bookmarks/unread", icon="o-library",
                            current=pathIs(`/bookmarks`, `/bookmarks/*`)) }}
      {{- end -}}
    </menu>

    {{- if !user.IsAnonymous() -}}
    <menu class="flex-shrink-0">
      {{ yield mainMenuItem(name="Documentation", path="/docs/", icon="o-help",
                            current=pathIs(`/docs/*`)) }}
      {{- if  hasPermission("admin:users", "read") -}}
        {{ yield mainMenuItem(name="Admin", path="/admin", icon="o-settings",
                              current=pathIs(`/admin`, `/admin/*`)) }}
      {{- end -}}
      {{- if  hasPermission("profile", "read") -}}
        {{ yield mainMenuItem(name="Settings", path="/profile", icon="o-user",
                              current=pathIs(`/profile`, `/profile/*`)) }}
      {{- end -}}
      <li>
        <form action="{{ urlFor(`/logout`)}}" method="post">
          <button type="submit">{{ yield icon(name="o-logout") }}
          <span class="sr-only">Log out</span></button>
        </form>
      </li>
    </menu>
    {{- end -}}
  </div>
</div>
